@w1:1000px;

@c2:#f8f8f8;
@c3:#9dc542;

@font_col1:#222;
@font_col2:#444;
@font_col3:#666;
@font_col4:#888;

@bg_col1:#ececec;
@bd_col1:#ddd;

@S:5px;
@S2:8px;
@N:10px;
@M:15px;
@L:20px;
@L2:25px;
@nav_h:60px;
@footer_h:100px;
@slide_h:600px;
.border-radius(@a:4px,@b:4px,@c:4px,@d:4px){
	border-radius:@a @b @c @d;
	-webkit-border-radius:@a @b @c @d;
	-moz-border-radius:@a @b @c @d;
	-ms-border-radius:@a @b @c @d;
	-o-border-radius:@a @b @c @d;
}
.transition(@t:all,@d:.1s,@e:ease-in){
	transition:@t @d @e;
	-webkit-transition:@t @d @e;
	-moz-transition:@t @d @e;
	-ms-transition:@t @d @e;
	-o-transition:@t @d @e;
}
.inset-box-shadow(@x,@y,@b,@c,@i:inset){
	box-shadow:@i @x @y @b @c;
	-webkit-box-shadow:@i @x @y @b @c;
	-moz-box-shadow:@i @x @y @b @c;
	-ms-box-shadow:@i @x @y @b @c;
	-o-box-shadow:@i @x @y @b @c;
}
.box-shadow(@x,@y,@b,@c){
	box-shadow:@x @y @b @c;
	-webkit-box-shadow:@x @y @b @c;
	-moz-box-shadow:@x @y @b @c;
	-ms-box-shadow:@x @y @b @c;
	-o-box-shadow:@x @y @b @c;
}
html,body{
	height:100%;
}
body{
	font:12px/1.25em Arial,Helvetica, sans-serif;
	color:@font_col1;
	background-color:@c2;
}
a,a:link{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

.container{
	width:@w1;
	margin:0 auto;
}
#header{
	background-color:@bg_col1;
	margin-top:40px;
	padding:@S2;
	.border-radius(@S,@S,@S,@S);
	.inset-box-shadow(0,1px,1px,rgba(0,0,0,0.2),inset);
}
#header {
	.bg{
		background:@c2;
		height:@nav_h;
		padding:0 @L;
		.border-radius();
		.box-shadow(0,1px,1px,rgba(0,0,0,.1))
	}
	.logo{
		float:left;
		margin-top:10px;
		width:auto
		height: 40px;
	}
	.nav{
		margin-left: 180px;
	}

	.nav li.nav-item{
		float: left;
		position: relative;
		list-style: none;
		margin: @S @M;
	}

	.nav li.nav-item>a{
		display:block;
		height: 50px;
		line-height: 50px;
		font-size:18px;
		padding: 0 @L2;
		color:#888;
		text-decoration:none;
		.border-radius(4px,4px,0,0);
		.transition();

	}
	.nav li.actived>a,.nav li.nav-item>a:hover{
		.inset-box-shadow(0,1px,1px,rgba(0,0,0,.2));
		color:@font_col2;
		background-color:#e8e8e8;
		border-bottom:3px solid @c3;
	}
	.nav li ul{
		display:none;
	}
	.sub-nav{
		background: @bg_col1;
		padding: @N 0;
		.border-radius(0,0,4px,4px);
		position: absolute;
		top: 53px;
		left: 0;
		width: 100%;
		z-index: 999;
	}
	.sub-nav li{
		list-style:none;
		border-bottom:1px solid @bd_col1;
	}
	.sub-nav li a{
		display:block;
		padding:@N;
		color:@font_col3;
	}
	.sub-nav li a:hover{
		text-decoration:none;
		background:@bd_col1;
	}
	.search-box{
		float:right;
		position:relative;
		padding-top:@M;
		color:@font_col2;
	}
	.search-box .flag{
		position: absolute;
		left: 15px;
		top: 22px;
		color: @font_col3;
	}
	.search-box .keyword{
		background: #dadada;
		width: 160px;
		padding: @S @L2 @S @M;
		border: none;
		outline:none;
		.border-radius(20px,20px,20px,20px);
		.inset-box-shadow(0,1px,1px,rgba(0,0,0,.3));
	}
	.search-box .btn-search{
		position: absolute;
		background: transparent;
		border: none;
		right: 0;
		top: 18px;
		cursor: pointer;
		outline: none;
	}
}
#v-slide-box{
	position:relative;
	margin:@M 0;
}
.v-slider{
	height:@slide_h;
	overflow:hidden;
}
.v-slider li{
	display:none;
	float:left;
	list-style:none;
}
.v-slider li img{
	width:1000px;
	height:@slide_h;
}
#footer{
	color: @font_col3;
	font-size: 13px;
	margin-bottom:40px;
	.footer-links{
		padding:@N @M;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #DDD;
		.left{

		}
		.links{
			text-align:right;
			a{
				display:inline-block;
				text-align:center;
				padding:0 @N;
				color:@c3;
			}
		}
	}
	.footer-copyrights{
		text-align:center;
		padding:@M;
	}
}

.color-light{
	color:@c3;
}
.left{
	float:left;
}
.right{
	float:right;
}
 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

 .clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

 .clearfix {
    *zoom: 1;
}
