/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
body {
line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}
nav ul {
list-style:none;
}
blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}
/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}html,body{height:100%;}
body{font:12px/1.25em Arial,Helvetica,sans-serif;color:#222222;background-color:#f8f8f8;}
a,a:link{text-decoration:none;}
a:hover{text-decoration:underline;}
.container{width:1000px;margin:0 auto;}
#header{background-color:#ececec;margin-top:40px;padding:8px;border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-ms-border-radius:5px 5px 5px 5px;-o-border-radius:5px 5px 5px 5px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);-ms-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);-o-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);}
#header .bg{background:#f8f8f8;height:60px;padding:0 20px;border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;-ms-border-radius:4px 4px 4px 4px;-o-border-radius:4px 4px 4px 4px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-ms-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-o-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);}
#header .logo{float:left;margin-top:10px;width:auto	height: 40px;}
#header .nav{margin-left:180px;}
#header .nav li.nav-item{float:left;position:relative;list-style:none;margin:5px 15px;}
#header .nav li.nav-item>a{display:block;height:50px;line-height:50px;font-size:18px;padding:0 25px;color:#888;text-decoration:none;border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-ms-border-radius:4px 4px 0 0;-o-border-radius:4px 4px 0 0;transition:all 0.1s ease-in;-webkit-transition:all 0.1s ease-in;-moz-transition:all 0.1s ease-in;-ms-transition:all 0.1s ease-in;-o-transition:all 0.1s ease-in;}
#header .nav li.actived>a,#header .nav li.nav-item>a:hover{box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);-ms-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);-o-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2);color:#444444;background-color:#e8e8e8;border-bottom:3px solid #9dc542;}
#header .nav li ul{display:none;}
#header .sub-nav{background:#ececec;padding:10px 0;border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-ms-border-radius:0 0 4px 4px;-o-border-radius:0 0 4px 4px;position:absolute;top:53px;left:0;width:100%;z-index:999;}
#header .sub-nav li{list-style:none;border-bottom:1px solid #dddddd;}
#header .sub-nav li a{display:block;padding:10px;color:#666666;}
#header .sub-nav li a:hover{text-decoration:none;background:#dddddd;}
#header .search-box{float:right;position:relative;padding-top:15px;color:#444444;}
#header .search-box .flag{position:absolute;left:15px;top:22px;color:#666666;}
#header .search-box .keyword{background:#dadada;width:160px;padding:5px 25px 5px 15px;border:none;outline:none;border-radius:20px 20px 20px 20px;-webkit-border-radius:20px 20px 20px 20px;-moz-border-radius:20px 20px 20px 20px;-ms-border-radius:20px 20px 20px 20px;-o-border-radius:20px 20px 20px 20px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.3);-ms-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.3);-o-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.3);}
#header .search-box .btn-search{position:absolute;background:transparent;border:none;right:0;top:18px;cursor:pointer;outline:none;}
#v-slide-box{position:relative;margin:15px 0;}
.v-slider{height:600px;overflow:hidden;}
.v-slider li{display:none;float:left;list-style:none;}
.v-slider li img{width:1000px;height:600px;}
#footer{color:#666666;font-size:13px;margin-bottom:40px;}#footer .footer-links{padding:10px 15px;border-top:1px solid #ddd;border-bottom:1px solid #DDD;}
#footer .footer-links .links{text-align:right;}#footer .footer-links .links a{display:inline-block;text-align:center;padding:0 10px;color:#9dc542;}
#footer .footer-copyrights{text-align:center;padding:15px;}
.color-light{color:#9dc542;}
.left{float:left;}
.right{float:right;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
